img {
  height: auto;
  width: 100%;
  max-width: 1000px;
  box-shadow: 10px 10px 10px 10x black;
}
a {
  text-decoration: none;
}
.slick-prev:before,
.slick-next:before {
  color: gray !important;
}

div:focus {
  outline: none;
}

.text-hide {
  display: none;
}

p {
  text-align: justify;
}

.is-scrollLocked {
  overflow: hidden;
}

h1 {
  font-family: "Cabin Condensed";
}

h2,
h3 {
  font-family: "Cabin Condensed";
}
