img {
  height: auto;
  width: 100%;
  max-width: 1000px;
  box-shadow: 10px 10px 10px 10x black;
}
a {
  text-decoration: none;
}
.slick-prev:before,
.slick-next:before {
  color: gray !important;
}

div:focus {
  outline: none;
}

html,
body {
  height: 100%;
  overflow: hidden;
}

.text-hide {
  display: none;
}
